In [6]:
import numpy as np
import pandas as pd
import dotenv
import os
#import psychopg2
from sqlalchemy import create_engine
import sqlite3

In [4]:
nba = sqlite3.connect('nba.db')

In [ ]:
url=
nba = pd.read_csv(url)

In [5]:
game = nba[['game_id', 'game_date', 'OT', 'season']].drop_duplicates()
player = nba[['player', 'player_id']].drop_duplicates()
team_game = nba[['game_id', 'H_A', 'Team_Abbrev', 'Team_Score',
       'Team_pace', 'Team_efg_pct', 'Team_tov_pct', 'Team_orb_pct',
       'Team_ft_rate', 'Team_off_rtg', 'Opponent_Abbrev']].drop_duplicates()
player_game = nba[['game_id', 'player_id', 'starter', 'mp', 'fg', 'fga',
       'fg_pct', 'fg3', 'fg3a', 'fg3_pct', 'ft', 'fta', 'ft_pct', 'orb', 'drb',
       'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts', 'plus_minus',
       'did_not_play', 'is_inactive']].drop_duplicates()

TypeError: 'sqlite3.Connection' object is not subscriptable

In [ ]:
game.columns=
player.columns=
team_game.columns=
player_game.columns =

In [ ]:
#postgres has a password. load env file
dotenv.load_dotenv()
pgpassword = os.getenv("pgpassword")

In [ ]:
#connect to postgres server
dbserver = psycopg2.connect(
    user='jk8sd', 
    password=pgpassword, 
    host="localhost"
)
dbserver.autocommit = True

In [ ]:
#allows you to pass SQL queries to the server using cursor
cursor = dbsrver.cursor()

In [ ]:
#will solve if there is an error with db being accessed by other users
query = """
SELECT pg_terminate_backend(pg_stat_activity.pid)
FROM pg_stat_activity
WHERE pg_stat_activity.datname = 'target_db'
  AND pid <> pg_backend_pid();
"""
cursor.execute(query)

In [ ]:
#failsafe. if error in try, drop db and then create a new one
try:
    cursor.execute("CREATE DATABASE nbadb")
except:
    cursor.execute("DROP DATABASE nbadb")
    cursor.execute("CREATE DATABASE nbadb")

https://stackoverflow.com/questions/664091/drop-a-database-being-accessed-by-another-users

In [ ]:
engine = create_engine(create_engine("postgresql+psycopg2://{user}:{pw}@localhost/{db}"
                       .format(user="mbatavia", pw=pgpassword, db="nbadb")))

In [ ]:
game.to_sql('games', con=engine, chunksize=1000, if_exists='replace', index=False)
player.to_sql('players', con=engine, chunksize=1000, if_exists='replace', index=False)
team_game.to_sql('team_game', con=engine, chunksize=1000, if_exists='replace', index=False)
player_game.to_sql('player_game', con=engine, chunksize=1000, if_exists='replace', index=False)

In [ ]:
myquery = """
SELECT *
FROM player_game
"""

#confirm that the postgres db is there
pd.read_sql(myquery, con=engine)

In [ ]:
#players with field goal % above 0.5

myquery = """
SELECT *
FROM player_game
WHERE ffg-pct>.5
ORDER BY fg_pct DESC
"""

In [ ]:
#need to go back and watch this again
myquery = """
SELECT fg, fga
FROM (SELECT a.player, 
        SUM(a.fg) AS fg
        SUM(a.fga) AS fga
    FROM player_game a
    INNER Join games b
        ON a.game_id=b.game_id
    WHERE b.season=2022
    GROUP BY a.player_id)
INNER JOIN players c
    ON a.player_id = c.player_id

"""

In [ ]:
myquery = """
SELECT *
FROM players
WHERE player LIKE 'J%% K%%'
"""